html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}




/* Style */

body {
    font: 16px/28px arial,sans-serif;
    background-color: #ccd9db;
    color: #606a6b ;
}

.container {
    width: 800px;
    margin: auto;
    background-color: #edfafa;
}

.header {
    padding: 20px;
    padding-bottom: 5px;
}

.header .judul {
    font-size: 28px;
    font-weight: bold;
}

.header ul li {
    display: inline-block;
    padding-right: 10px;
    margin-top: 10px;
    text-decoration: none;
}

.header a {
    text-decoration: none;
    color: #358585;
    padding: 3px;
}

.header a:hover{
    background-color: #94d0d4;
    color: #2e5457;
}

.hero {
    height: 280px;
    background-image: url(../image/kucing.jpg);
    background-size: cover;
    /* 0 pertama horizontal dan -35px adalah vertikal*/
    background-position: 0 -35px;
    border-top: 4px solid #2e5457;
    border-bottom: 5px solid #2e5457;
}

.content h2 {
    font-size: 25px;
    padding-bottom: 10px;
    padding-top: 3px;
    font-weight: bold;
}

.content {
    padding:20px;
}

.content .penulis {
    font-weight: 600px;
    margin-top: -5px;
}

.content a {
    text-decoration: none;
    color: #358585;
}

.content a:hover {
    background-color: #358585;
    color: #2e5457;
}

.content p {
    padding-top: 6px;
}

.content h3 {
    font-size: 18px;
    font-weight: bold;
    margin-top: 4px;
}

.content hr {
    margin-top: -9px;
}

.hero2 .gambar {
    width: 185px;
    height: 230px;
    background-image: url(../image/kucing4.jpg);
    background-size: cover;
    margin: auto;
    margin-top: 10px;
    background-position: -10px 0;
    flex-direction: column;
}
.content .hero2 {
    width: 220px;
    height: 305px;
    margin-left: auto;
    background-color: #ccd9db;
    padding-top: 3px;
}

.hero2 p {
    margin-bottom: 10px;
    text-align: center;
    font-weight: bold;
    padding-left: 5px;
}

.hero2 {
    float: right;
}

.hero2 h3 {
    text-align: center;
}

.content .nara {
    text-align: center;
    margin-top: 10px;
}

.footer {
    background-color: #606a6b;
    padding: 10px;
}

.footer .copy {
    color: #edfafa;
    text-align: center;
    font-size: 12px;
}